@import './variables';
@import './pages/homePage';
@import './pages/createEventPage';
@import './pages/eventPage';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $primary-bg-color;
}

button {
  border: none;
}
